

.titulo-cabañas {
    color: #5E4F3D;
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 5px #F0E3C8;
    animation-duration: 5s;
    animation-name: slidein;
}

    
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%
        }
    
        to {
            margin-left: 0%;
            width: 100%;
        }
    }


/* SLIDER */
.mi-slider img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
    z-index: 1;
}

.direcciones {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direcciones a {
    padding: 30px 20px;
    transition: 1s;
}

.direcciones a:hover {
    cursor: pointer;
    background-color: #ead8b4a4;
}

/* .barras{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
} 

.barra{
    cursor: pointer;
    height: 3px;
    width: 70px;
    margin: 0 2px;
    background: #5E4F3D;
    display: inline-block;
    margin-left: 15px;
    border-radius: 20px;
} */

.active {
    background-color: #F0E3C8;
}


/* .fade{
    animation-name: fade;
    animation-duration: 1.5s;    
}

@keyframes fade {
    from {opacity: .6;}
    to{opacity:1;}
}  */

/* BAJADA PLAYA */
.bajada-playa {
    padding-top: 50px;
    color: #5E4F3D;
    filter: drop-shadow(2px 2px 5px #5e4f3dbb);
    font-size: 2.3rem;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
}

.contenedor-texto-bajada {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.texto-bajada {
    color: #5E4F3D;
    width: 85%;
    font-size: 1.2rem;
}

.img-bajada {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-bajada img {
    width: 25%;
    border-radius: 5%;
    transition-duration: 1s;
    margin-bottom: 30px;
    margin-top: 20px;
}

.img-bajada img:hover {
    filter: drop-shadow(2px 2px 5px #5E4F3D);
    transform: scale(1.3);
    border-radius: 2%;
}

/* SERVICIOS */
/* .titulo-servicios {
    
    filter: drop-shadow(5px 5px 8px #5E4F3D);
    padding-top: 50px;
    padding-bottom: 20px;
} */
.titulo-servicios h2 {
    color: #5E4F3D;
    font-weight: 900;
    font-size: 2.2rem;
    filter: drop-shadow(5px 5px 5px #F0E3C8);
    padding-top: 50px;
    letter-spacing: 10px;
    margin-top: 70px;
}

.servicios {
    background-image: url('/img/fondo-servicios-index.jpeg');
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    background-color: #5E4F3D;
}

.clasificacion-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 40px;
    justify-content: center;
    color: #2a231b;
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 50px;
}

.clasificacion-servicios p {
    background-color: #f0e3c88f;
    border-radius: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    transition-duration: 1.2s;
}

.clasificacion-servicios p:hover {
    filter: drop-shadow(5px 5px 5px #5E4F3D);
    border-radius: 20%;
    transform: rotate(10deg);
}

/* UBICACION */

.contenedor-texto-ubicacion {
    text-align: center;
    color: #5E4F3D;
    font-size: 1.2rem;
    font-weight: 600;
}

.container-mapa {
    display: flex;
    justify-content: center;
}

iframe {
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .titulo-cabañas {
        padding-top: 30px;
    }
    .img-bajada {
        flex-direction: column;
        align-items: center;
    }

    .img-bajada img {
        margin-top: 20px;
        width: 60%;
    }

    .img-bajada img:hover {
        transform: scale(1.1);
    }

    .texto-bajada {
        width: 90%;
    }
    .clasificacion-servicios p {
        font-size: 0.5rem;
    }
    .contenedor-texto-ubicacion p {
        font-size: 1.07rem;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .mi-slider img {
        height: 400px;
    }

    .direcciones {
        height: 400px;
    }
    .clasificacion-servicios p {
        font-size: 0.8rem;
    }

}