.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.nosotros-title {
    color: #5E4F3D;
    font-size: 2.7rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 8px #ffffff);
    text-decoration: 0.2rem #2a231b underline overline;
}
.nosotros-title-predio {
    text-align: center;
    color: #5E4F3D;
    font-size: 2.3rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 5px #5e4f3dbb);
    padding-top: 50px;
}
.nosotros {
    position: relative;
    overflow: hidden;
} 
.nosotros .container-title {
    position: absolute;
    top: 5;
}
.video-drone {
    width: 100%;
}

.container-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 10%;
    display: flex;
    align-items: flex-end;
}
.btn-video {
    border: none;
    background-color: #f0e3c869;
    margin-top: 20px;
    width: 70px;
    height: 50px;
    padding-bottom: 5px;
    color: #2a231b;
    transition-duration: 1s;
}
.btn-video:hover {
    color: #d9b876;
}
/* NOSOTROS */
.container-sobre-nosotros {
    padding-bottom: 50px;
}
.container-sobre-nosotros h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    padding-top: 50px;
    
}
.container-sobre-nosotros span {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}
.grupo-iconos-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icono-nosotros {
    color: #5E4F3D;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.icono-nosotros p {
    margin-top: 4px;
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.icono-nosotros:hover {
    color: #2a231b;
}
/* Segunda seccion */
.section-global-cards {
    background-color: #D5C7AD;
}
.section-global-cards h3 {
    filter: drop-shadow(2px 2px 5px #5E4F3D);
}
.section-cards {
    width: 100%;  
    margin-top: 40px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 50px;
    justify-content: center;
}

.img-fondo-cards {
    width: 300px;
    border-radius: 10px;
}

.div-image {
    background-image: url('/img/fondo-cards.jpg');
    background-size: 300px;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 1s;
}
.div-image div {
    width: 90%;
    height: 90%;
    background-color: #f0e3c869;
    color: #2a231b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    border-radius: 10px;
}
.div-image:hover {
    filter: drop-shadow(3px 3px 8px #2a231b);
    transform: rotate(-2deg);
}
.div-image div:hover {
    width: 100%;
    height: 100%;
}

.div-image p {
    font-size: 2rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 5px #ffffff);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* MODALS */
.modals {
    background-color: #F0E3C8 !important;
}
.modals h5 {
    color: #5E4F3D;
}

.title-modal {
    color: #5E4F3D;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
}
.text-modal {
    color: #2a231b;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}
.text-modal p {
    width: 90%;
    text-align: justify;
}
.pics {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.pics img {
    width: 300px;
    height: 200px;
    border-radius: 2%;
    transition-duration: 0.7s;
    cursor: pointer;
}
.pics img:hover {
    filter: drop-shadow(2px 2px 5px #2a231b);
}
.play-text {
    color: #2a231b;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}
.play-text p {
    width: 90%;
    text-align: justify;
}

/* IMG GRANDE */
.ful-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.88);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.ful-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #F0E3C8;
    cursor: pointer;
}
.ful-img img {
    width: 90%;
    max-width: 600px;
}

/* Recreacion peliculas y desayuno */
 h3 {
    text-align: center;
    color: #5E4F3D;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 2.3rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 5px #5e4f3dbb);
}
.film h3 {
    margin-top: 80px;
}
.section-film {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.text-section-film {
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #5E4F3D;
}
.pic-section-film {
    width: 35%;
    display: flex;
    justify-content: center;
}
.pic-section-film img {
    width: 400px;
    height: 280px;
    border-radius: 2%;
    filter: drop-shadow(2px 2px 5px #5e4f3d);
    transition-duration: 0.7s;
}
.pic-section-film img:hover {
    filter: drop-shadow(5px 5px 5px #2a231b);
}

/* Nav arreglo */
.enlaces-menu li {
    margin-top: 15px;
}
/* Footer arreglo */
.footer-container p {
    padding-top: 15px;
}

@media (max-width: 1000px) {
    /* Titulo */
    .container-title {
        display: none;
    }
    .container-btn {
        margin-top: 30px;
    }
    /* Modals */
    .pics {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 10px;
    }
    
    .pics img {
        width: 200px;
        height: 170px;
    }
    /* Nosotros */ 
    .grupo-iconos-nosotros {
        flex-direction: column;
        align-items: center;
    }
    /* recreacion pelis */
    .desayuno-text {
        padding-top: 20px;
    }
    .section-film {
        flex-direction: column;
        align-items: center;
    }
    
    .text-section-film {
        width: 90%;
    }
    .film-responsive {
        display: flex;
        flex-direction: column-reverse;
    }
    .pic-section-film {
        width: 95%;
    }
    .pic-section-film img {
        width: 100%;
    }
    .film-responsive .text-section-film {
        margin-top: 20px;
    }
}
@media (max-width:700px) {
    .pics {
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        grid-gap: 10px;
    }
    .pics img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .desayuno-text {
        padding-top: 20px;
    }

}